
process {

  //
  // Add here the modules you need to run your specific commands
  // For the modules to work, you need to source your .bashrc first, then we suggest to purge all the modules
  // Check that the modules added here are loaded correctly before running the pipeline
  //
  // E.g:
  // 
  // beforeScript = 'source $HOME/.bashrc; module purge; module -f unload compilers mpi gcc-libs; module load r/recommended'
  // module = 'samtools:blic-modules:bwameth'
  //

  beforeScript = 'source $HOME/.bashrc; module purge;'
  module = 'blic-modules'

  // Defaults for all processes
  // Modify if needed
  cpus = 1
  memory = '7.GB'
  time = '4.h'


}

